@model EmailAddress

@{
    ViewData["Title"] = "Confirm Email";
}

<h1>ParkEmail</h1>
<p>Please enter your E-mail Address to continue:</p>
<form asp-action="CheckEmail">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <input class="btn btn-primary" type="submit" value="Confirm"/>
</form>

