
@{
    ViewData["Title"] = "Please Register";
}

<h1>Please Register</h1>

<p>In order to park a vehicle, you need to be a registered member. In order to register, please <a asp-action="Register">click here</a>.</p>

