@model IEnumerable<ParkedVehicle>

@{
    ViewData["Title"] = "Filter";
}

<h1>Filter</h1>

<form asp-action="Filter">

    <div class="input-group mb-3">

        <input type="text" name="RegNum" class="form-control" placeholder="Search on title" />

        <div class="input-group-append">

            <select name="type" asp-items="@Html.GetEnumSelectList<VehicleType>()" class="form-control"></select>

        </div>

        <div class="input-group-append">

            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>

        </div>

    </div>

</form>

