@model Tuple<Dictionary<VehicleType, int>, int, double, int>
@{
    ViewData["Title"] = "GetStatistics";
}

<h1>GetStatistics</h1>

<div>
    <h3>How many types of each Vehicles</h3>
    <label asp-for="@Model.Item1.Keys"></label>
    <span><strong>@Model.Item1.Keys</strong></span><br />
    <label asp-for="@Model.Item1.Values"></label>
    <span><strong>@Model.Item1.Values</strong></span><br />
   
</div>

<div>
    <h3>Total Wheels</h3>
    <label asp-for=@Model.Item2></label>
  
</div>

<div>
    <h3>Total Costs</h3>
    <label asp-for=@Model.Item3></label>

</div>

<div>
    <h3>How many vehicles with white color & 4 wheels</h3>
    <label asp-for=@Model.Item4></label>

</div>

