
@{

    <div class="container">
        <div class="row">

            <dv class="col-md-3">
                <label class=""> Registation No :</label>
            </dv>

            <dv class="col-md-3">
                <label class=""> Vehical type :</label>
            </dv>
            <dv class="col-md-3">
                <label class=""> Parking Time :</label>
            </dv>

            <dv class="col-md-3">
                <label class=""> Total Cost  :</label>
            </dv>

        </div>

        <div class="row">
            <dv class="col-md-3">
                <label class=""> 444</label>
            </dv>

            <dv class="col-md-3">
                <label class=""> 888 :</label>
            </dv>
            <dv class="col-md-3">
                <label class=""> 44 :</label>
            </dv>

            <dv class="col-md-3">
                <label class=""> T55</label>
            </dv>

        </div>

    </div>

}
