@model IEnumerable<VehicleSummaryViewModel>
@{
    <div class="container">
        <table>
            <thead>
                <tr >

                    <td >
                        Registration No
                    </td>

                    <td >
                        Vehical type
                    </td>
                    <td >
                        Parking Time
                    </td>

                    

                </tr>
            </thead>

            <tbody>

                @foreach (var vehicale in Model)
                {
                    
                        <tr class="row list-unstyled">
                            <td>@vehicale.RegistrationNumber</td>
                            <td>@vehicale.Type</td>
                            <td>@vehicale.Colour</td>
                            <td>@vehicale.ParkingTime</td>
                        </tr>
                    
                }

            </tbody>
        </table>
    </div>

}
