@model IEnumerable<VehicleSummaryViewModel>
@{
    <div class="container">
        <table>
            <thead>
                <tr class="" >

                    <td >
                        Registration No
                    </td>

                    <td >
                        Vehical type
                    </td>
                    <td >
                        Color
                    </td>
                    <td >
                        Parking Time
                    </td>



                </tr>
            </thead>

            <tbody>

                @foreach (var vehicale in Model)
                {
                        <tr>
                            <td>@vehicale.RegistrationNumber</td>
                            <td>@vehicale.Type</td>
                            <td>@vehicale.Colour</td>
                            <td>@vehicale.ParkingTime</td>
                        </tr> 
                }

            </tbody>
        </table>
    </div>

}
